.container{
  background: black;
  margin-left:22%;
  margin-right: 22%
  padding-right:22%
  padding-left:22%
  margin-top:26%;
  width:800px;
  height: 2px;
}

div{
  color:  black;
  text-decoration: underline;
  text-align: justify;
  text-decoration-style: solid;
  font-family: monospace;
}
body{
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
  
height: 10px;
}
.button{
  color: black;
}
