.container{
  background: black;
  margin-left:22%;
  margin-right: 22%
  padding-right:22%
  padding-left:22%
  margin-top:26%;
  width:800px;
  height: 2px;
}

}
.panel-title{
color: #0e6655;

}
div{
  color: black;
  text-decoration: none;
  text-align: justify;
  text-decoration-style: solid;
}
body{
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1518133835878-5a93cc3f89e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
height: 10px;
}
.button{
  color: black;
}
