.container{
  background: #5f6a6a;
}
.panel-body{
  background: #aeb6bf;
  margin:1%;
  padding: 1%;
}
.panel-title{
color: #0e6655;

}
div{
  color: black;
  text-decoration: none;
  text-align: justify;
}
